body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(3, 10rem);
    grid-template-rows: repeat(3, 10rem);
    cursor: pointer;
}

.tile {
    color: black;
    display:flex;
    justify-content: center;
    align-items: center;
}

.right-border {
    border-right: 0.2em solid black;
}

.bottom-border {
    border-bottom: 0.2em solid black;
}