body {
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    display: grid;
    justify-items: center;
}

#gameboard {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    height: 20rem;
    width: 20rem;
}

.tile {
    border: 1px solid black;
    padding-top: 2rem;
    font-size: 2rem;
}

#pturn {
    font-size: 4rem;
}

#result {
    font-size: 5rem;
}

#interface {
    padding-top: 5rem;
}
