body {
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    display: grid;
    grid-template-rows: 1fr;
    justify-content: center;
    justify-items: center;
}

#gameboard {
    display: grid;
    grid-row: 1;
    grid-template-columns: repeat(3, 1fr);
    width: 30rem;
    height: 30rem;
}

.tile {
    border: solid black;
    text-align: center;
    padding-top: 4rem;
    font-size: 2rem;
}

.text-wrapper {
    text-align: center;
}

#pturn {
    font-size: 3rem;
}

#result {
    font-size: 4rem;
}

#interface{
    padding-top: 5rem;
}